<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Belive in Yourself</title>
</head>
<body>
    <div class="container">
        <div class="quotesection">
            <div class="quote">

            </div>
        </div>
        <div class="buttonsection">
            <button>Find Quote</button>
            <button class="copy">Copy</button>
        </div>
    </div>

    <script src="index.js"></script>
</body>
</html>